<!DOCTYPE html>
<html>
<head>
<title>信息管理系统</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script type="text/javascript" src="/static/js/jquery/jquery-1.7.1.js"></script>
<link href="/static/css/basic_layout.css" rel="stylesheet" type="text/css">
<link href="/static/css/common_style.css" rel="stylesheet" type="text/css">
{#<script type="text/javascript" src="/static/js/authority/commonAll.js"></script>#}
<script type="text/javascript" src="/static/js/jquery/jquery-1.4.4.min.js"></script>
<script src="/static/js/My97DatePicker/WdatePicker.js" type="text/javascript" defer="defer"></script>
<script type="text/javascript" src="/static/js/artDialog/artDialog.js?skin=default"></script>
</head>
<body>
    <form id="submitForm" name="submitForm" action="/app01/hostedit-{{ host_obj.nid }}/" method="post">
        {% csrf_token %}
        <input style="display: none" type="hidden" name="fyID" value="{{ host_obj.nid }}" id="fyID"/>
        <div id="container">
            <div id="nav_links">
                当前位置：资产管理&nbsp;>&nbsp;<span style="color: #1A5CC6;">主机编辑</span>
                <div id="page_close">
                    <a href="javascript:parent.$.fancybox.close();">
                        <img src="/static/images/common/page_close.png" width="20" height="20" style="vertical-align: text-top;"/>
                    </a>
                </div>
            </div>
            <div class="ui_content">
                <table  cellspacing="0" cellpadding="0" width="100%" align="left" border="0">
                    <tr>
                        <td class="ui_text_rt" width="80">所属机房</td>
                        <td class="ui_text_lt">
                            <select name="fangyuanEntity.fyXqCode" id="fyXq" class="ui_select01">
                                <option value="" name="hostarea" selected="selected">--请选择--</option>
                                {% for row in area_l %}
                                    <option value="{{ row.id }}"  >{{ row.location }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="ui_text_rt">主机名</td>
                        <td class="ui_text_lt">
                            <input type="text" id="fyCh" name="hostname" value="{{ host_obj.hostname }}"  class="ui_input_txt01"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="ui_text_rt">IP地址</td>
                        <td class="ui_text_lt">
                            <input type="text" id="fyFh" name="hostip"  value="{{ host_obj.ip }}" class="ui_input_txt01" />
                        </td>
                    </tr>
                    <tr>
                        <td class="ui_text_rt">端口号</td>
                        <td class="ui_text_lt">
                            <input type="text" id="fyZongMj" name="hostport"  value="{{ host_obj.port }}" class="ui_input_txt01"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="ui_text_rt">业务线</td>
                        <td class="ui_text_lt">
                            <select name="fangyuanEntity.fyHxCode" id="b_id" class="ui_select01">
                                <option value="" selected="selected">--请选择--</option>
                                {% for row in business_l %}
                                    <option value="{{ row.id }}" >{{ row.caption }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="ui_text_rt">状态</td>
                        <td class="ui_text_lt">
                            <select name="fangyuanEntity.fyJianzhuJiegou" id="status_id" class="ui_select01">
                                <option value="" selected="selected">--请选择--</option>
                                {% for row in status_l %}
                                    <option value="{{ row }}" >{{ row }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
        <tr>
            <td>&nbsp;</td>
            <td class="ui_text_lt">
                &nbsp;<input id="submitbutton" type="button" value="提交" class="ui_input_btn01"/>
                &nbsp;<input id="cancelbutton" type="button" value="取消" class="ui_input_btn01"/>
            </td>
        </tr>
        <span id="error_meg" style="color: red"></span>
    </form>

    <script src="/static/js/jquery-1.12.4.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            /*
             * 取消
             */
            $("#cancelbutton").click(function() {
                /**  关闭弹出iframe  **/
                window.parent.$.fancybox.close();
            });

            var result = 'null';
            if(result =='success'){
                /**  关闭弹出iframe  **/
                window.parent.$.fancybox.close();
            }
        });

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $(function () {
            $.ajaxSetup({
                beforeSend:function (xhr,settings) {   //xhr是XMLHttpRequest对象
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader('X-CSRFtoken', $.cookie('csrftoken'));  //这样写上之后就把这个页面的所有ajax请求都加上csrf的请求头了
                    }
                }
            });
        });
        //获取编辑页面的数据
        $('#submitbutton').click(function () {
            //debugger;
            var nid = $('#fyID').val();
            var hostarea = $("#fyXq").val();
            var hostname = $("#fyCh").val();
            var hostip = $("#fyFh").val();
            var hostport = $("#fyZongMj").val();
            var hostbusiness = $("#b_id").val();
            var hoststatus = $("#status_id").val();
            $.ajax({
                url: "/app01/hostedit-" + nid + "/",
                type: 'POST',
                //data :$('#submitForm').serialize(),
                //上边的这行代码就是获取id是edit_form这个form表达的所有数据打包发给后台了
                data: {
                    "nid": nid,
                    "hostarea": hostarea,
                    "hostname": hostname,
                    "hostip": hostip,
                    "hostport": hostport,
                    "hostbusiness": hostbusiness,
                    "hoststatus": hoststatus
                },

                success: function (data) {
                    var obj = JSON.parse(data);
                    if (obj.status) {
                        window.parent.$.fancybox.close();
                    } else {
                        $('#error_meg').text(obj.error);
                    }
                }
            })
        });
    </script>
</body>
</html>